<p id="notice"><%= notice %></p>
 <form class="border rounded bg-white form-time-table">
  <h1 class="d-flex justify-content-center">
  -<%= @customer.name %>様
    月別リスト-</h1>
<%= link_to "",customers_path(month:@month.prev_month), class: "fas fa-angle-double-left fa-2x nav-link" %>
<strong>
<%= @month.strftime('%Y/%m') %>
</strong>
<%= link_to "",customers_path(month:@month.next_month), class: "fas fa-angle-double-right fa-2x nav-link" %>

<table class="table table-bordered align-center">
  <thead>
    <tr class="bg-light text-center">
      <th scope="col ">名前</th>
      <th scope="col">品目</th>
      <th scope="col">出荷日時</th>
      <th scope="col">出荷先</th>
      <th scope="col">数量</th>
      <th scope="col">規格</th>
      <th scope="col" colspan="3">出荷データ</th>
    </tr>
  </thead>

<div class="table-td">
    <tbody>
      <% @items.each do |item| %>
        <tr class="bg-light ">
          <td><%= @customer.name %></td>
          <td><%= item.name %></td>
          <td><%= item.date.strftime('%Y/%m/%d')%></td>
          <td><%= item.send_method %></td>
          <td><%= item.count %></td>
          <td><%= item.standard %></td>
          <td><div id="open">詳細を見る</div>
            <%= link_to '詳細', item_path(item),remote: true %>
            </td>
          <td><%= link_to '編集', edit_item_path(item), class: "fas fa-pencil-alt fa-2x nav-link" %></td>
          <td><%= link_to '削除', item, method: :delete, data: { confirm: '削除してもいいですか?' }, class: "fas fa-trash fa-2x nav-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



  <div id="mask" class="hidden"></div>

  <section id="modal" class="hidden">
    <%= render partial: 'items/modal', locals: {item: @item }%>
  </section>








<div>
  <canvas id="stage"></canvas>
</div>

<script>
  //「月別データ」
var mydata = {
  <% items = @graph_items.to_a() %>
  labels: [
    <% items.each do |item| %>
      "<%=item[0]%>",
    <% end %>
  ],
  datasets: [
    {
      label: '数量',
      backgroundColor: ["#c97586","#bbbcde","#7CFC00", "#FF66FF","#FFFF99","#CCFFFF","#66FF99"],
      data: [
        <% items.each do |item| %>
          <%= item[1] %>,
        <% end %>
      ],
    }
  ]
};

//「オプション設定」
var options = {
  title: {
    display: true,
    text: '品目別出荷割合'
  }
};

var canvas = document.getElementById('stage');
var chart = new Chart(canvas, {

  type: 'pie',  //グラフの種類
  data: mydata,  //表示するデータ
  options: options  //オプション設定

});


// {
//   const op = document.getElementById('open');
//   const cl = document.getElementById('close');
//   const modal = document.getElementById('modal');
//   const mask = document.getElementById('mask');

//   op.addEventListener('click', () => {
//     modal.classList.remove('hidden');
//     mask.classList.remove('hidden');
//   });

//   cl.addEventListener('click', () => {
//     modal.classList.add('hidden');
//     mask.classList.add('hidden');
//   });

//   mask.addEventListener('click', () => {
//     modal.classList.add('hidden');
//     mask.classList.add('hidden');
//   });

// }

</script>