
 <%= link_to "全出荷データのCSVを出力", customers_path(format: :csv), class: "export fas fa-download " %>
 <form class="border rounded bg-white form-time-table">
  <h1 class="d-flex justify-content-center mt-3">
  -<%= @customer.name %>様
    月別リスト-</h1>
    <div class="month">
      <%= link_to "", customer_path(current_customer,month:@month.prev_month), class: "fas fa-angle-double-left fa-2x nav-link" %>
      <strong>
      <%= @month.strftime('%Y/%m') %>
      </strong>
      <%= link_to "", customer_path(current_customer,month:@month.next_month), class: "fas fa-angle-double-right fa-2x nav-link" %>
      <%= link_to ' 当月の記録全て削除',customer_items_destroy_all_path, method: :delete, class: "destroy_all fas fa-trash mb-3",style: "width:200px", data: { confirm: '本当に全て削除しますか?' } %>
    </div>
<div class="container">
  <table class="table-responsivetable table-bordered align-center" id="fav-table">
    <thead>
      <tr class="bg-light text-center">
        <th scope="col "></th>
        <th scope="col ">名前</th>
        <th scope="col">品目</th>
        <th scope="col">出荷日時</th>
        <th scope="col">出荷先</th>
        <th scope="col">数量</th>
        <th scope="col">規格</th>
        <th scope="col" colspan="3">出荷データ</th>
      </tr>
    </thead>

  <div class="table-td">
      <tbody>
        <%= form_with(model: @item, local: true) do |form| %>
        <% @items.each do |item| %>
          <tr class="bg-light text-center">
            <td>
              <input type="checkbox" class="item-amount-chkbox" value="<%= item.count %>" value2="<%= item.name %>">
            </td>
            <td><%= @customer.name %></td>
            <td><%= item.name %></td>
            <td><%= item.date.strftime('%Y/%m/%d')%></td>
            <td><%= item.send_method %></td>
            <td><%= item.count %></td>
            <td><%= item.standard %></td>
            <td>
              <%= link_to "詳細", item_path(item),remote: true, class: "fas fa-poll-h fa-2x nav-link" %>
              </td>
            <td><%= link_to '編集', edit_item_path(item), class: "fas fa-pencil-alt fa-2x nav-link" %></td>
            <td><%= link_to '削除', item, method: :delete, data: { confirm: '本当に削除しますか?' }, class: " fas fa-trash fa-2x nav-link" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

<hr>
  <div class="result">
    <table class="sum-table table-bordered" id="fav-table">
      <thead>
        <tr class="bg-light text-center">
          <th scope="col " colspan="3"> 選択された数量合計値</th>
        </tr>
      </thead>
    <div class="table-td">
        <tbody>
            <tr class="bg-light text-center calk">
              <td>
                出荷合計数量
              </td>
              <td>
                <div id="calk" class="calk" colspan="2">0</div>
              </td>
            </tr>
        </tbody>
      </table>
      <div class="csv">
        <%= link_to "当月分のCSVへ出力", customer_path(format: :csv), class: "export2 fas fa-download " %>
      </div>
    </div>
  </div>
  <div id="mask" class="hidden" ></div>

  <section id="modal" class="hidden" tabindex="-1" role="dialog">
    <%= render partial: 'items/modal', locals: {item: @item }%>
  </section>


<div>
  <canvas id="stage" style="position: relative; height:100; width:150"></canvas>
</div>


<script >
  $('.item-amount-chkbox').on('change',function(){
    var amount = 0;
    $('.item-amount-chkbox:checked').each(function(){
      amount += parseInt($(this).val());
    });
    //console.log(amount)


    document.getElementById("calk").textContent = amount;
  });
</script>


   <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>