<main>
    <div class="container1">
      <div class="info1">
        <h1 class="title">Agris</h1>
        <p class="title-p">伝票は作らなくてもここにある</p>
      </div>
      <div class="pic1">
          <%= image_tag('new8.png',class: "main-image2") %>
          <%= image_tag('new8r.png',class: "main-image2") %>
          <%= image_tag('new9.png',class: "main-image2") %>
          <%= image_tag('main2.png',class: "main-image") %>
      </div>
        <p class="title-p2">「紙の出荷伝票」をシステム化。Agrisは無料で使える伝票管理アプリです。</p>
        <a href="/customers/sign_up" class="button-1 fas fa-plus-square fa-1x mx-3"> 新規登録はこちら</a>
        <a href="/customers/sign_in" class="button-1 fas fa-sign-in-alt fa-1x mx-3"> ログインはこちら</a>
    </div>
</main>
<section class="features">
    <h1 class="h1-top">ご利用例</h1>
    <div class="container">
    <p>圃場で野菜の状況等を確認しながら外出先で出荷数量を登録可能。農業事業団体などと情報を共有することで伝票の代わりにもご利用いただけます。</p>
      <ol>
        <li>生産者に新規登録を依頼しアカウントを作成していただく</li>
        <li>生産者は品目を指定して出荷する野菜の情報を入力いただく</li>
        <li>管理者は出荷状況一覧を操作します</li>
        <li>累計データを活用し、伝票の代わりとしてご活用いただくことができます。</li>
      </ol>
    <p>管理者側は、タイムリーに出荷状況を把握でき、販売計画や精算処理等も容易になります。生産者側は、出荷状況の分析や累計をネット上で管理することができ、今後の経営にも活用いただけます。</p>
    <h4 class="top-h4">登録操作・機能紹介(入力画面⇒グラフ分析⇒その他能紹介）</h4>
    <div class="movie2">
      <section>
      <div class="container2">
        <ul class="scroll-ul" id="ul">
          <li class="scroll-li"><%= image_tag('new4.gif') %></li>
          <li class="scroll-li"><%= image_tag('new5.gif') %></li>
          <li class="scroll-li"><%= image_tag('new6.gif') %></li>
        </ul>
        <button id="prev">&laquo;</button>
        <button id="next">&raquo;</button>
      </div>
      <nav>
      </nav>
    </section>
    </div>
    <hr>
    <h1 class="h1-top">機能例</h1><br>
      <section>
        <div class="pic">
          <%= image_tag('agri02.jpg') %>
        </div>
        <div class="info">
          <h4>パソコン・スマートフォンから簡単入力ができる</h4>
          <p>手書きの伝票に記入する必要が無くなります。お手元の機械で数値を入力するだけで登録完了！</p>
        </div>
      </section>
      <section>
        <div class="pic">
          <%= image_tag('agri01.jpg') %>
        </div>
        <div class="info">
          <h4>出先でもどこでも登録ができる</h4>
          <p>スマートフォンからも活用できる！そのため農場内や外出先でも利用可能。簡単30秒以内で出荷登録完了できる。</p>
        </div>
      </section>
      <section>
        <div class="pic">
          <%= image_tag('agri02.jpg') %>
        </div>
        <div class="info">
          <h4>登録されたデータで分析できる</h4>
          <p>出荷登録が完了すればすぐにグラフが作成されます。これまでの出荷情報や今後の植え付けなどにも活用できる。出荷の割合なども簡単に把握！エクセルへの出力も可能です。</p>
        </div>
      </section>
      <section>
        <div class="pic">
          <%= image_tag('agri03.jpg') %>
        </div>
        <div class="info">
          <h4>伝票の記入が無くなる！</h4>
          <p>農業団体などと登録頂いたデータを共有する事ができます。そのため伝票や出荷予約の連絡が不要！経費削減や出荷登録ミスなども大幅に軽減できる。</p>
        </div>
      </section>
    </div>
  </section>

  <section class="members">
    <div class="now">シンプル・今すぐ使えます</div>
    <p class= "now-p">「出荷の内容」がその場に居なくても確認・登録できる。そんなWebサービスです。</p>
    <p></p>
    <ul>
      <li>

        <div class="top-li"><i class="fas fa-chevron-circle-right"></i>　利用料金無料</div>
      </li>
      <li>
        <div class="top-li"><i class="fas fa-chevron-circle-right"></i>　登録時の入力はたったの6項目</div>
      </li>
      <li>
        <div class="top-li"><i class="fas fa-chevron-circle-right"></i>　アプリのインストール不要</div>
      </li>
      <li>
        <div class="top-li"><i class="fas fa-chevron-circle-right"></i>　誰にでも使えるシンプル・簡単操作</div>
      </li>
      <li>
        <div class="top-li"><i class="fas fa-chevron-circle-right"></i>　PC・スマートフォン両対応</div>
      </li>
    </ul>
    <div class="movie-wrap">
      <iframe width="600" height="300" src="https://www.youtube.com/embed/k_t6_S1p4gM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>

  <section class="call-to-action">
    <div class="call-to-action-left">
      <%= image_tag('new8.png') %>
    </div>
    <div class="call-to-action-center">
    <h1 class="title">Agris</h1>
    <p class="title-p">伝票は作らなくてもここにある</p>
    <h1>今すぐ新規登録しよう！</h1>
    <a href="/customers/sign_up" class="button-gradation">新規登録はこちら</a>
    </div>
    <div class="call-to-action-right">
      <%= image_tag('new9.png') %>
    </div>
  </section>


   <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>


   <%= javascript_include_tag 'slide' %>