
<p id="notice"><%= notice %></p>
 <form class="border rounded bg-white form-time-table">
  <h1 class="d-flex justify-content-center">全出荷者リスト</h1>
<%= link_to "",admin_customers_path(month:@month.prev_month), class: "fas fa-angle-double-left fa-2x" %>
<strong>
<%= @month.strftime('%Y/%m') %>
</strong>
<%= link_to "",admin_customers_path(month:@month.next_month), class: "fas fa-angle-double-right fa-2x" %>

<table class="table table-bordered">
  <thead>
    <tr class="bg-light">
      <th scope="col">名前</th>
      <th scope="col">品目</th>
      <th scope="col">出荷日時</th>
      <th scope="col">出荷先</th>
      <th scope="col">コメント</th>
      <th scope="col">数量</th>
      <th scope="col">規格</th>
      <th scope="col">画像</th>

    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.customer.name %></td>
        <td><%= item.name %></td>
        <td><%= item.date.strftime('%Y/%m/%d')%></td>
        <td><%= item.send_method %></td>
        <td><%= item.comment %></td>
        <td><%= item.count %></td>
        <td><%= item.standard %></td>
        <td><%= attachment_image_tag(item, :image, :fill, 100, 100, fallback: "no-image-icon.jpg") %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<div>
  <canvas id="stage"></canvas>
</div>

<script>
  //「月別データ」
var mydata = {
  labels: ["１月", "２月", "３月", "４月", "５月", "６月", "７月"],
  datasets: [
    {
      label: '数量',
      hoverBackgroundColor: "rgba(255,99,132,0.3)",
      data: [65, 59, 80, 81, 56, 55, 48],
    }
  ]
};

//「オプション設定」
var options = {
  title: {    
    display: true,
    text: 'サンプルチャート'
  }
};

var canvas = document.getElementById('stage');
var chart = new Chart(canvas, {

  type: 'bar',  //グラフの種類
  data: mydata,  //表示するデータ
  options: options  //オプション設定

});
</script>