管理者画面のトップ!
<h1 class="d-flex justify-content-center">登録生産者一覧</h1>
<table class= "table table-bordered">
 <thead>
    <tr class="bg-light">
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">フリガナ</th>
      <th scope="col">住所</th>
      <th scope="col">名前</th>
      <th scope="col">名前</th>
      <th scope="col" colspan="1">出荷データ</th>
    </tr>
  </thead>
  <tbody>
<% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.kana %></td>
      <td><%= customer.address %></td>
      <td><%= customer.name %></td>
      <td><%= customer.name %></td>
      <td><%= link_to '詳細' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
