<p id="notice"><%= notice %></p>
<h1 class="d-flex justify-content-center">登録生産者一覧</h1>

<h1>ユーザー検索</h1>
<%= search_form_for @q, url: search_admin_customers_path do |f| %>
  <%= f.label :name_cont, 'ユーザー名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<table class= "table table-bordered">
 <thead>
    <tr class="bg-light text-center">
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">フリガナ</th>
      <th scope="col">住所</th>
      <th scope="col">電話番号</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">生産者番号</th>
      <th scope="col" colspan="1">出荷データ</th>
    </tr>
  </thead>
  <tbody>
<% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.kana %></td>
      <td><%= customer.address %></td>
      <td><%= customer.phone_number %></td>
      <td><%= customer.email %></td>
      <td><%= customer.customer_no %></td>
      <td><%= link_to '詳細', admin_customer_path(customer), class: "customer_#{customer.id} fas fa-poll-h fa-2x nav-link" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h3>圃場検索</h3>
<div class="map">

  <input type="text" id="address">
  <button id="search">検索</button>
   <div id="target"></div>
</div>