<h3>ユーザー検索結果</h3>
 検索ワード:<%= @results.name %>
<hr>

      <h1 class="d-flex justify-content-center"> <%= @results.name %>様 登録データ</h1>
<div class="container">
  <table class= "table table-bordered">
   <thead>
      <tr class="bg-light text-center">
        <th scope="col">ID</th>
        <th scope="col">名前</th>
        <th scope="col">フリガナ</th>
        <th scope="col">住所</th>
        <th scope="col">電話番号</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">生産者番号</th>
        <th scope="col" colspan="1">出荷データ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @results.id %></td>
        <td><%= @results.name %></td>
        <td><%= @results.kana %></td>
        <td><%= @results.address %></td>
        <td><%= @results.phone_number %></td>
        <td><%= @results.email %></td>
        <td><%= @results.customer_no %></td>
        <td><%#= link_to '詳細', admin_customer_path(@results.id), class: "customer_#{customer.id} fas fa-poll-h fa-2x nav-link" %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
</div>