<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"品目名(例：ホウレンソウ）" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"出荷予定日" %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :"出荷先" %>
    <%= form.select :send_method, Item.send_methods.keys,{},{class: 'hoge'}%>
  </div>

  <div class="field">
    <%= form.label :"コメント：備考欄" %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :"出荷数量" %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :"規格" %>
    <%= form.text_field :standard %>
  </div>

  <div class="field">
    <%= form.label :"商品画像" %>
    <%= form.text_field :image_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>