<p id="notice"><%= notice %></p>
 <form class="border rounded bg-white form-time-table">
  <h1>月別リスト</h1>
　<select class="form-control rounded-pill mb-3" id="exampleFormControlSelect1">
    <option>2020/11</option>
  </select>

    <%= select_month(Date.today) %>


<table class="table table-bordered">
  <thead>
    <tr class="bg-light">
      <th scope="col">品目</th>
      <th scope="col">出荷日時</th>
      <th scope="col">出荷先</th>
      <th scope="col">コメント</th>
      <th scope="col">数量</th>
      <th scope="col">規格</th>
      <th scope="col">画像</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.date.strftime("%Y年%-m月%-d日") %></td>
        <td><%= item.send %></td>
        <td><%= item.comment %></td>
        <td><%= item.count %></td>
        <td><%= item.standard %></td>
        <td><%= item.image_id %></td>
        <td><%= link_to '詳細', item %></td>
        <td><%= link_to '編集', edit_item_path(item) %></td>
        <td><%= link_to '削除', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

