<h1 class="d-flex justify-content-center mb-4">新規出荷データの登録</h1>
<hr>

<div class="form-1">

<div class="side-var-1">

  <div class="side-h3">新規投稿の作成</div>
</div>
<%= form_with model: @item, local: true do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

    </div>
  <% end %>
  <div class="field">
    <%= f.label :"品目名（必須）", class: "form-label"%>
    <%= f.text_field :name , class: "form-field" %>
  </div>
    <% if @item.errors.include?(:name) %>
     <p style="color: red;"><%= @item.errors.full_messages_for(:name).first %>
     <% end %>
  <section2>※(例：トマト・きゅうり・ブロッコリー等）</section2>
<hr>
  <div class="field">
    <%= f.label :"規格（必須）", class: "form-label" %>
    <%= f.text_field :standard, class: "form-field"  %>
  </div>
    <% if @item.errors.include?(:standard) %>
     <p style="color: red;"><%= @item.errors.full_messages_for(:standard).first %>
     <% end %>
  <section2>※S/M/Lまたは300gや500g・1㎏束など</section2><br/>
  <section2>※複数ある場合は新しく登録して下さい</section2>
<hr>
  <div class="field">
    <%= f.label :"出荷数量（必須）", class: "form-label" %>
    <%= f.number_field :count, class: "form-field"  %>
  </div>
    <% if @item.errors.include?(:count) %>
     <p style="color: red;"><%= @item.errors.full_messages_for(:count).first %>
     <% end %>
  <section2>※個数ではなく、袋数や箱数で入力下さい</section2>
<hr>

  <div class="field">
    <%= f.label :"出荷予定日（必須）", class: "form-label" %>
    <%= f.date_field :date, class: "form-field"  %>
  </div>
    <% if @item.errors.include?(:date) %>
     <p style="color: red;"><%= @item.errors.full_messages_for(:date).first %>
     <% end %>
  <section2>※収穫日ではなく、出荷日を入力して下さい</section2>
<hr>

  <div class="field">
    <%= f.label :"出荷先", class: "form-label" %>
    <%= f.select :send_method, Item.send_methods.keys,{},{class: "form-field"}%>
  </div>
  <section2>※1.該当するものがない場合は、「その他」を選択</section2><br/>
  <section2>※2.コメント欄に記入下さい</section2>
<hr>


  <div class="field">
    <%= f.label :image, "現在の画像", class: "form-label" %>
    <%= attachment_image_tag(@item, :image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br/>
    <%= f.attachment_field :image, class: "form-field-2"  %>
  </div>
  <section2>※収穫時の画像を撮影してください</section2><br/>
  <section2>※投稿された画像は、生育状態の確認に使用します</section2>
<hr>

  <div class="field">
    <%= f.label :"コメント：備考欄", class: "form-label" %>
    <%= f.text_area :comment, class: "form-field"  %>
  </div>
  <section2>※生育状況の報告や伝えたいことなどに活用下さい</section2>
<hr>
  <div class="actions", style="justify-content: center;">
    <%= f.submit "送信", class: "button-2" %>
  </div>

<% end %>
</div>

<hr>

<div class="d-flex justify-content-center mx-4">
<%= link_to '　一覧画面へ戻る', customers_path %>
</div>