<h2 class="heading6">出荷内容・詳細画面</h2>

<ul class="list1">
  <li>
    <p>
    <strong>品目名:</strong>
    <%= @item.name %>
    </p>
  </li>
  <li>
    <p>
    <strong>出荷予定日:</strong>
    <%= @item.date %>
    </p>
  </li>
  <li>
    <p>
    <strong>出荷先:</strong>
    <%= @item.send_method %>
    </p>
  </li>
  <li>
    <p>
    <strong>コメント：備考欄:</strong>
    <%= @item.comment %>
    </p>
  </li>
  <li>
    <p>
    <strong>数量:</strong>
    <%= @item.count %>
    </p>
  </li>
  <li>
    <p>
    <strong>規格:</strong>
    <%= @item.standard %>
    </p>
  </li>
  <li>
    <p>
    <strong>画像:</strong>
    <%= attachment_image_tag(@item, :image, :fill, 100, 100, fallback: "no-image-icon.jpg") %>
    </p>
  </li>
<div class="list1-link">
<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '戻る', customers_path %>
</div>
  
</ul>