<!DOCTYPE html>
<html>
  <head>
    <title>Agris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul class="header">
    <%= link_to root_path do %>
      <img src="assets/logo.jpeg" width="100px" height="100px" >
    <% end %>
     <% if customer_signed_in? %>
            <li><%= link_to " マイページ", my_page_path(current_customer.id) %></li>
            <li><%= link_to " 出荷履歴一覧", report_path %></li>
            <li><%= link_to " 新規登録", new_item_path %></li>
            <li><%= link_to " ログアウト", destroy_customer_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to " 会員一覧", admin_customers_path %></li>
            <li><%= link_to " 出荷履歴一覧", items_path %></li>
            <li><%= link_to " ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to " 使い方", homes_about_path %></li>
            <li><%= link_to " 新規登録", new_customer_registration_path %></li>
            <li><%= link_to " ログイン", new_customer_session_path %></li>
            <li><%= link_to " 管理者ログイン", new_admin_session_path %></li>
            <li><%= link_to " ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post %></li>
            <li><%= link_to " 管理者ゲストログイン（閲覧用）", admins_guest_sign_in_path, method: :post %></li>
            </ul>
          <% end %>
    </header>
    <%= yield %>


  </body>
</html>
