<!DOCTYPE html>
<html>
  <head>
    <title>Agris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="nav">
      <ul class="header">
      <%= link_to root_path, class: "nav-link " do  %>
        <img src="assets/logo.png" class="logo" >
      <% end %>
      <li><div class="header-fix"></div></li>
       <% if customer_signed_in? %>
              <li class="head-li"><%= link_to " マイページ", my_page_path(current_customer.id), class: "fas fa-user nav-link " %></li>
              <li><%= link_to " 出荷履歴一覧", customers_path, class: "fas fa-clipboard-list nav-link " %></li>
              <li><%= link_to " 新規登録", new_item_path, class: "fas fa-plus-square nav-link " %></li>
              <li><%= link_to " ログアウト", destroy_customer_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link " %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to " 会員一覧", admin_customers_profile_path, class: "fas fa-users nav-link " %></li>
              <li><%= link_to " 出荷全履歴一覧", admin_customers_path, class: "fas fa-clipboard-list nav-link " %></li>
              <li><%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link " %></li>
            <% else %>
              <li><%= link_to " 使い方", homes_about_path, class: "fas fa-info-circle nav-link " %></li>
              <li><%= link_to " よくある質問と答え", homes_about_path, class: "fas fa-info-circle nav-link " %></li>
              <li><%= link_to " 新規登録", new_customer_registration_path, class: "fas fa-user-plus nav-link" %></li>
              <li><%= link_to " ログイン", new_customer_session_path, class: "fas fa-sign-in-alt nav-link " %></li>
              <li><%= link_to " 管理者ログイン", new_admin_session_path, class: "fas fa-user-tie nav-link " %></li>
              </ul>
      </nav>
      <button type="button" id="navbtn">
        <div class="c-hamburger-btn__bars">
      		<div class="c-hamburger-btn__bar"></div>
      		<div class="c-hamburger-btn__bar"></div>
      		<div class="c-hamburger-btn__bar"></div>
      	</div>
      </button>
              <div class="guest">
              <%= link_to " ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post, class: "fas fa-chalkboard-teacher nav-link" %>
              <%= link_to " 管理者ゲストログイン（閲覧用）", admins_guest_sign_in_path, method: :post, class: "fas fa-chalkboard-teacher nav-link" %>
              </div>
            <% end %>
    </header>
    <%= yield %>

    <span id="back">
      <a href="#">
        <img src="assets/arrow.png" alt="">
      </a>
    </span>

    <footer>
      <div class="adress">
        兵庫県XX市XX町x-xx</br>
      　Agis Next innovation 本店
      </div>
      <div class="copyright text-center">
       Copyright © Agis Nextinnovation inc. All Rights Reserved.
      </div>
    </footer>

  </body>
</html>

<script>
  document.getElementById("navbtn").onclick = function(){
    document.querySelector('html').classList.toggle('open');
  }
</script>